<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Water Logging Disaster Prevention System</title>
</head>

<body>
<h3>Water Logging Disaster Prevention System</h3>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" required="required" accept="image/jpg, image/jpeg"/><br/><br/>
    <input type="submit" value="Submit" /><br/><br/><br/><br/>
    <b>Note:</b>This is a demo project. In live project the inputs will be receive from camera, satellites, messaging and social media.
</form>

</body>
</html>
